backgroundGradient(fromColor, toColor)
  /* fallback */
  background-color fromColor
  background-image -webkit-gradient(linear, 0% 0%, 0% 100%, from(fromColor), to(toColor))
  background-image -moz-linear-gradient(top, fromColor, toColor)
  background-image -ms-linear-gradient(top, fromColor, toColor)
  background-image -o-linear-gradient(top, fromColor, toColor)
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a1f2', endColorstr='#0172aa');*/
  /*background -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0172aa), color-stop(1, #00a1f2) )*/

backgroundGradient3colors(c1, c2, c3)
  background-image -webkit-gradient(linear, 0% 0%, 0% 100%, from(c1), to(c3), color-stop(.5, c2))

borderBoxSizing()
  -moz-box-sizing border-box
  -ms-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

boxShadow(args...)
  -moz-box-shadow args
  -webkit-box-shadow args
  box-shadow args

borderRadius(r)
  -moz-border-radius r
  -webkit-border-radius r
  border-radius r

boxFlex(n)
  -webkit-box-flex n
  -moz-box-flex n
  -box-flex n

displayBox()
  display -webkit-box
  display -moz-box
  display -box

// shorthand for relativ positioning
trbl(t, r, b, l)
  top t
  right r
  bottom b
  left l

ellipsisOverflow() 
  text-overflow ellipsis
  overflow hidden
  white-space nowrap